<div class="container">
  <div class="row">
    <div class="col s4">
      <h1><%= @registered_application.name %></h1>
      <h4><%= link_to @registered_application.url, @registered_application.url %></h4>
    </div>
    <div class="col s8">
      <%= pie_chart @registered_application.events.group(:name).count %>
      <%= line_chart @registered_application.events.group_by_day(:created_at).count %>
    </div>
  </div>
</div>
