<h1 class="center">Welcome to BlocMetrics</h1>
<div class="center"><i class="fa fa-area-chart fa-5x" aria-hidden="true"></i><i class="fa fa-pie-chart fa-5x" aria-hidden="true"></i>
  <i class="fa fa-bar-chart fa-5x" aria-hidden="true"></i>
</div>
<p class="center text-bold text-m">The only way to improve is to track what you are doing right. Keep track of your visitors actions with BlocMetrics. </p>
